<div th:fragment="basefooter">
  <footer class="footer section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget">
            <h4 class="text-capitalize mb-4">Основное</h4>

            <ul class="list-unstyled footer-menu lh-35">
              <li><a href="#">Правила блога</a></li>
              <li><a href="#">Поддержка</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="widget">
            <h4 class="text-capitalize mb-4">Дополнительно</h4>

            <ul class="list-unstyled footer-menu lh-35">
              <li><a href="#">О себе</a></li>
              <li><a href="#">Статьи</a></li>
              <li><a href="#">Порекомендовать</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget">
            <h4 class="text-capitalize mb-4">Рассылка</h4>
            <p>Подписка на уведомления о новых статьях.</p>

            <form action="#" class="sub-form">
              <input type="text" class="form-control mb-3" placeholder="E-Mail адрес ...">
              <a href="#" class="btn btn-main btn-small">подписаться</a>
            </form>
          </div>
        </div>

        <div class="col-lg-3 ml-auto col-sm-6">
          <div class="widget">
            <div class="logo mb-4">
              <h3>My<span> blog</span></h3>
            </div>
            <h6><a href="tel:+7-922-716-25-51" >+7-922-716-25-51</a></h6>
            <a href="mailto:alexlexx444@yandex.ru"><span class="text-color h4">alexlexx444@yandex.ru</span></a>
          </div>
        </div>
      </div>

      <div class="footer-btm pt-4">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 text-left text-lg-left">
            <ul class="list-inline footer-socials">
              <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="ti-facebook mr-2"></i>Facebook</a></li>
              <li class="list-inline-item"><a href="https://twitter.com/"><i class="ti-twitter mr-2"></i>Twitter</a></li>
              <li class="list-inline-item"><a href="https://www.pinterest.com/"><i class="ti-linkedin mr-2 "></i>Linkedin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>