<div th:fragment="baseheader">
  <header class="navigation">
    <div class="header-top ">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
            <div class="header-top-info">
              <a href="tel:+8-922-716-25-51">Тел : <span>+8-922-716-25-51</span></a>
              <a href="mailto:alexlexx444@yandex.ru" ><i class="fa fa-envelope mr-2"></i><span>alexlexx444@yandex.ru</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">My<span> blog</span></a>

        <div class="collapse navbar-collapse text-center" id="navbarsExample09">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О себе</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="/">Карьера</a></li>
                <li><a class="dropdown-item" href="/">Портфолио</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="service.html">Блог</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
          </ul>

          <form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
            <a href="contact.html" class="btn btn-solid-border btn-round-full">Вход</a>
          </form>
        </div>
      </div>
    </nav>
  </header>
</div>